*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#1e3c72,#2a5298);
    color:white;
}

header{
    text-align:center;
    padding:40px;
    background:rgba(0,0,0,0.3);
}

header h1{
    font-size:50px;
}

header p{
    margin-top:10px;
    font-size:20px;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h2{
    font-size:40px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    max-width:700px;
    margin:auto;
    line-height:30px;
}

button{
    margin-top:30px;
    padding:15px 35px;
    border:none;
    border-radius:30px;
    background:#00d4ff;
    color:black;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:white;
    transform:scale(1.08);
}
.about{
    width:80%;
    margin:50px auto;
    background:white;
    color:black;
    padding:30px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 0 20px rgba(0,0,0,0.3);
}

.about h2{
    color:#1e3c72;
    margin-bottom:15px;
}

.about p{
    font-size:18px;
    line-height:30px;
}
.education{
    width:80%;
    margin:50px auto;
    text-align:center;
}

.education h2{
    margin-bottom:30px;
    font-size:35px;
}

.edu-card{
    background:white;
    color:black;
    padding:20px;
    margin:20px 0;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.3);
    transition:0.3s;
}

.edu-card:hover{
    transform:scale(1.03);
}
.skills{
    width:80%;
    margin:50px auto;
}

.skills h2{
    text-align:center;
    margin-bottom:30px;
}

.skill{
    margin:20px 0;
}

.skill p{
    margin-bottom:8px;
    font-weight:bold;
}

.bar{
    width:100%;
    height:15px;
    background:#ddd;
    border-radius:20px;
}

.bar div{
    height:15px;
    border-radius:20px;
}

.html{
    width:90%;
    background:#ff5733;
}

.css{
    width:85%;
    background:#2965f1;
}

.js{
    width:75%;
    background:#f7df1e;
}

.react{
    width:70%;
    background:#61dafb;
}
.projects{
    width:80%;
    margin:50px auto;
    text-align:center;
}

.project-card{
    background:white;
    color:black;
    padding:20px;
    margin:20px 0;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.3);
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-5px);
}
.contact{
    width:80%;
    margin:50px auto;
    background:white;
    color:black;
    padding:30px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 0 15px rgba(0,0,0,0.3);
}

.contact h2{
    margin-bottom:20px;
    color:#1e3c72;
}
.profile-img{
    width:180px;
    height:180px;
    border-radius:50%;
    border:5px solid white;
    object-fit:cover;
    margin-bottom:20px;
    box-shadow:0 0 25px cyan;
}
.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#111;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 60px;
    z-index:1000;
}

.logo{
    color:#00d4ff;
    font-size:28px;
    font-weight:bold;
}

.navbar ul{
    display:flex;
    list-style:none;
}

.navbar ul li{
    margin-left:25px;
}

.navbar ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:.3s;
}

.navbar ul li a:hover{
    color:#00d4ff;
}

header{
    padding-top:100px;
}
.typing{
    font-size:24px;
    margin-top:20px;
    color:white;
    font-weight:bold;
}

#typing-text{
    color:#00d4ff;
}
.contact{
    width:80%;
    margin:60px auto;
    text-align:center;
}

.contact form{
    display:flex;
    flex-direction:column;
    gap:15px;
    max-width:600px;
    margin:auto;
}

.contact input,
.contact textarea{
    padding:15px;
    border:none;
    border-radius:10px;
    font-size:16px;
}

.contact button{
    background:#00d4ff;
    color:black;
    padding:15px;
    border:none;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
}

.contact button:hover{
    background:white;
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}